{% extends 'base.html' %}

{% block content %}
    <h3>
        Lindsey is a Pylady and a cat lady.<br/>
        ...and also a software engineer.
    </h3>
    <p>
    She enjoys writing Python and Java, and her favorite web framework is Django. Most of her time as of late is spent trying to make this whole "freelance thing" work, but you'll still probably see her at Chicago code meetups. 
    </p>
    <p>
    Being a Pylady and valuing diversity means she is always willing to network with and/or mentor underrepresented individuals in the tech community.
    </p>
{% endblock %}
