{% extends 'base.html' %}

{% block content %}
    <h3>
        Personal Projects
    </h3>
    <ul>
        <li>
            <a href="http://ellbie.me">This Website (Django)</a>
            <a href="https://github.com/lindseybrockman/ellbie">[source]</a>
        </li>
        <li>
            <a href="http://beka.ellbie.me">Photo Blog (Django)</a>
        </li>
        <li>
            <a href="http://click-the-squares.ellbie.me">Click The Squares (JQuery)</a>
            <a href="https://github.com/lindseybrockman/click-the-squares">[source]</a>
        </li>
        <li>
            Find The Cat (WIP Flask/OpenCV2)
            <a href="https://github.com/lindseybrockman/find-the-cat">[source]</a>
        </li>
    </ul>
    <h3>
        Talks/Classes
    </h3>
    <ul>
        <li>
            <a href="https://www.meetup.com/WomanDevelopers/events/215915952/">Chicago Women Developers Class (Django)</a>
            <a href="https://github.com/lindseybrockman/Django-Tutorial">[source]</a>
        </li>
        <li>
            <a href="http://pyvideo.org/pyohio-2014/make-api-calls-wicked-fast-with-redis.html">PyOhio 2014: API caching with Redis (Flask/Redis)</a>
            <a href="https://github.com/lindseybrockman/api-cache">[source]</a>
        </li>
    </ul>

{% endblock %}
